#  
import 'package:flutter/material.dart';

// This tells main.dart where to find your Onboarding Tutorial
import 'screens/onboarding_screen.dart';
import 'package:firebase_core/firebase_core.dart';

void main() async {
  // We have to ensure Flutter is ready before waking up Firebase
  WidgetsFlutterBinding.ensureInitialized();

  // Wake up the cloud!
  await Firebase.initializeApp();

  runApp(const MyApp());
}

class MyApp extends StatelessWidget {
  const MyApp({super.key});

  @override
  Widget build(BuildContext context) {
    return MaterialApp(
      title: 'Eco Scan',
      debugShowCheckedModeBanner: false, // Hides the annoying "DEBUG" banner
      theme: ThemeData(
        colorScheme: ColorScheme.fromSeed(seedColor: Colors.green),
        useMaterial3: true,
      ),
      // THE FRONT DOOR: This tells the app to load the Onboarding Screen first!
      home: const OnboardingScreen(),
    );
  }
}